/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  background-color: rgba(3, 7, 18, 0.8);
  backdrop-filter: blur(20px);
  z-index: 1000;
  padding: 10px 130px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--font-tech);
  color: white;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.navbar-socials {
  display: flex;
  gap: 4rem;
}

.social-link {
  font-family: var(--font-tech);
  color: var(--color-text-secondary);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 1.2rem;
}

.social-link:hover {
  color: var(--color-primary);
  filter: drop-shadow(0 0 5px var(--color-primary-glow));
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 1.5rem;
  }

  .navbar-socials {
    gap: 1.5rem;
  }

  .social-link p {
    display: none;
  }
}
