/* Projects */

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.project-card {
  max-width: 48%;
  padding: 2rem;
}

.project-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
