/* Projects */

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.project-card {
  flex: 1 1 400px;
  max-width: 48%;
  padding: 2rem;
}

@media (max-width: 768px) {
  .project-card {
    max-width: 100%;
    padding: 1.5rem;
  }

  .projects-grid {
    gap: 1.5rem;
  }

  .project-actions {
    flex-wrap: wrap;
  }
}

.project-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
